:root {
  --bg: #000;
  --accent-color: #d23166;
  --main-color: #fff;
  --social-bg: rgba(255, 255, 255, 0.1);
  --card-bg: #151515;
  --color-btn: #fafafa;
  --about-text: rgba(255, 255, 255, 0.2);
}

.container {
  width: 1267px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

body {
  background-color: var(--bg);
}

/* Header */

.header {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  z-index: 3;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
  gap: 95px;
}

.header-link {
  color: var(--main-color);
  text-align: justify;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 500;
}

.header-items {
  display: flex;
  gap: 15px;
}

.header-social {
  width: 36px;
  height: 36px;
  background-color: var(--social-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.header-img {
  width: 15px;
  height: 15px;
}

/* Hero */

.hero .container {
  display: flex;
  gap: 73px;
  align-items: center;
}

.hero-text {
  color: var(--main-color);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.4px;
  margin-bottom: 20px;
}

.hero-title {
  color: var(--main-color);
  font-family: Alexandria;
  font-size: 57.33px;
  font-weight: 400;
  line-height: 94%;
  letter-spacing: -4.013px;
  opacity: 0.9;
  width: 587px;
  margin-bottom: 16px;
}

.hero-span {
  color: var(--accent-color);
}

.hero-desc {
  color: var(--main-color);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  opacity: 0.6;
  width: 578px;
  margin-bottom: 48px;
}

.hero-btn {
  background-color: var(--accent-color);
  padding: 13px 50px;
  color: var(--color-btn);
  font-family: "Hind Madurai";
  font-size: 16px;
  font-weight: 700;
}

/* About */

.about {
  padding-top: 129px;
  padding-bottom: 105px;
}

.about-text {
  color: var(--main-color);
  text-align: center;
  font-family: Alexandria;
  font-size: 57.33px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -4.013px;
  opacity: 0.9;
}

.inner-box {
  position: relative;
  padding: 0 24px;
}

.about-span {
  color: var(--about-text);
}

.about-pistachio {
  position: absolute;
  top: -75px;
  right: 120px;
  width: 137px;
  height: 137px;
}

.about-milk {
  position: absolute;
  top: 100px;
  left: 29px;
  width: 144px;
  height: 144px;
}

.about-strawberry {
  position: absolute;
  top: 235px;
  right: 534px;
  width: 90px;
  height: 90px;
}

/* Product */

.product {
  padding-top: 60px;
  padding-bottom: 60px;
}

.product-title {
  color: var(--main-color);
  font-family: Roboto;
  font-size: 56px;
  font-weight: 500;
  line-height: 94%;
  letter-spacing: -3.92px;
  opacity: 0.9;
}

.product-list {
  display: flex;
  gap: 18px;
  align-items: center;
}

.product-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--social-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-wrap {
  display: flex;
  justify-content: space-between;
}

.product-item:last-child {
  transform: rotate(180deg);
}

.product-caption {
  color: var(--main-color);
  font-family: "Hind Madurai";
  font-size: 26px;
  font-weight: 700;
}

.product-items {
  display: flex;
  gap: 20px;
}

.product-wraper {
  padding: 24px 30px;
}

.product-text {
  color: var(--main-color);
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

.product-price {
  color: var(--main-color);
  font-family: "Hind Madurai";
  font-size: 26px;
  font-weight: 500;
}

.product-button {
  color: var(--color-btn);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  padding: 15px 46px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: var(--accent-color);
}

/* Menu */

.menu-btn {
  width: 40px;
  height: 30px;
  margin-left: auto;
  margin-right: 25px;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-btn span {
  width: 40px;
  height: 3px;
  background-color: var(--main-color);
}

.header-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  padding: 100px 30px;
  background-color: var(--card-bg);
  transform: translateX(100%);
  transition: transform 250ms;
  z-index: 3;
}

.header-nav.is-open {
  transform: translateX(0);
}

.header-list {
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: 250ms;
  z-index: 2;
}

.overlay.is-open {
  opacity: 1;
  visibility: visible;
}